<script id="question" type="text/template">
  <div class="row question">
    <div class="col-md-3">
      Tags: {{tags}}
    </div>
    <div class="col-md-9">
      <a href="<%="{{link}}".html_safe%>" target="_blank">{{title}}</a>
    </div>
  </div>
</script>